* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background-color: rgb(226, 226, 226);
}

#map {
  height: 0%;
  width: 50%;
  margin: 20px auto;
  border: 3px rgb(184, 184, 184) solid;
  border-radius: 3px;
}

main {
  text-align: center;
}

.view-intro,
.view-no-event,
.view-create,
.view-result,
.view-congrats {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: auto;
  margin: 50px auto;
  border: 3px;
  border-radius: 5px;
  padding: 20px
}

header { 
  transform: scale(0.9);
  transition: all 0.2s ease;
}

header:hover {
  webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.2s ease;
}

h1 {
  font-family: 'Modak', cursive;
  font-size: 4em;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.line-break {
  color: grey;
  padding: 10px;
}

.zip-code-search {
  display: block;
  margin: 10px auto 5px;
  height: 25px;
  width: 150px;
}

button {
  width: 150px;
  color: rgb(255, 255, 255);
  height: 25px;
  background-color: rgb(8, 173, 202);
  box-shadow: none;
  text-shadow: none;
  border:none;
  border-radius: 2px;  
  box-shadow:none;
  opacity: 0.8;
}

button:hover {
  color: black;
  border: 1px white solid;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}

.add-event, .return-2 {
  display: block;
  width: 200px;
  margin: 10px auto;
}

fieldset {
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
}

fieldset input, fieldset textarea {
   height: 30px;
   margin-bottom: 10px;
   display:table-cell; 
   width: 100%;
   box-shadow: none;
   text-shadow: none;
   border:none;
   border-radius: 2px;  
   box-shadow:none
}

fieldset input:hover {
  border: 1px rgb(255, 174, 0) solid;
}

legend {
  font-size: 1.5em;
  margin: 15px;
}

.js-event-detail {
  height: 200px;
}

.return {
  margin: 10px;
}

fieldset label {
  display:table-cell;
}

li {
  width: 400px;
  margin: 10px auto;
  color: rgb(187, 0, 0);
  text-align: left;
}

li span {
  color: black;
}

.google-map {
  position: relative;
  background-color: rgb(255, 174, 0);
  margin: 10px auto;
}
